---
layout: layouts/base.njk
title: Blog
---
<h1>{{ title }}</h1>

<h2>Posts</h2>
<ul>
{% for post in collections.posts %}
    <li>
        <a href="{{ post.url }}">
            {{ page.data.title | default(page.url) }}
        </a>
    </li>
{% endfor %}
</ul>