---
layout: layouts/base.njk
title: Hello world!
---
<h1>{{ title }}</h1>

<h2>All pages</h2>
<ul>
    {% for page in collections.all %}
        <li>
            <a href="{{ page.url }}">
                {{ page.data.title | default(page.url) }}
            </a>
        </li>
    {% endfor %}
</ul>